<div class="row">
  <div class="col-5" *ngIf="chats$ | async as chats">
    <app-chat-map *ngIf="geolocation$ | async as geo" [chats]="chats" [latitude]="geo.coords.latitude" [longitude]="geo.coords.longitude"></app-chat-map>
  </div>
  <div class="col-7">
    <app-chosen-chat *ngIf="chosenChat$ | async as chat; else other_content" [chat]="chat"></app-chosen-chat>
    <ng-template #other_content>
      <div style="text-align: center"> <h2>Select a chat on the map</h2> </div>
    </ng-template>
  </div>
</div>
