<mat-card style="width: min-content">
  <mat-card-content>
    <div>
      <img src="{{editProfile.picture}}" class="rounded" alt="pic" style="max-height: 350px; max-width: 300px">
      <app-load-image (imageEmit)="newImage=$event" style="margin-left: 50px"></app-load-image>
    </div>
    <form>
      <mat-form-field style="margin-top: 20px">
        <mat-label>Name</mat-label>
        <label>
          <input matInput [(ngModel)]="editProfile.name" name="name">
        </label>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="onClickSubmit()">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
