<nb-chat size="giant" [title]="title">
  <nb-chat-message *ngFor="let message of messages"
                   [type]="getType(message)"
                   [message]="getText(message)"
                   [sender]="message.sender.name"
                   [avatar]="message.sender.picture"
                   [date]="message.creationDate"
                   [reply]="message.sender.id==userId"
                   [quote]="getQuote(message)"
  >
  </nb-chat-message>
  <nb-chat-form (send)="onSendMessage($event)"></nb-chat-form>
</nb-chat>
