<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button mat-raised-button (click)="onClickCreateChat()">Create chat</button>
    <ng-template #createChatDialog>
      <h2 matDialogTitle>Create chat</h2>
      <form>
        <input >
      </form>
      <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="onClickSaveChat()" color="primary">Save</button>
        <button mat-raised-button [mat-dialog-close]="" color="warn">Close</button>
      </mat-dialog-actions>
    </ng-template>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    kek
  </mat-grid-tile>
</mat-grid-list>
