<mat-card>
  <h4 *ngIf="chats.length==0">There are no chats nearby you</h4>
  <div id="myMap" class="map" style="height:700px; width: 100%; padding: 0; margin: 5px 0 0;"></div>
</mat-card>
<ng-template #createChatDialog>
  <h2 matDialogTitle>Create chat</h2>
  <form [formGroup]="form">
    <app-load-image (imageEmit)="onEmitImage($event)"></app-load-image>
    <br>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <label>
        <input matInput formControlName="name">
      </label>
      <mat-error *ngIf="form.controls['name'].invalid">Please enter a valid name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <label>
        <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMaxRows="7" style="overflow: auto"></textarea>
      </label>
      <mat-error *ngIf="form.controls['description'].invalid">Max length of desc is 1024 </mat-error>
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="'save'" color="primary" [disabled]="!form.valid">Save</button>
    <button mat-raised-button [mat-dialog-close]="'close'" color="warn">
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</ng-template>
